<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK MANAGER APP</title>
</head>
<body>
    <h1>TASK MANAGER APP</h1>
    <ul>
        {{#tasks}}
        <li>{{name}} - {{state}} - <a href="tasks/{{id}}">iniciar</a></li>
        {{/tasks}}
    </ul>
    <form action="/tasks" method="post">
        <input type="text" id="name" name="name">
        <select name="state" id="state">
                <option>Situação</option>
                {{#state}}
                <option value={{value}} {{#selected}}selected{{/selected}}>{{name}}</option>
                {{/state}}
            </select>
        <input type="submit" value="Salvar">
    </form>
</body>
</html>