<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK MANAGER APP</title>
</head>
<body>
    <form action="/tasks" method="post">
        <fieldset>
            <legend>Nova Atividade:</legend>
            <input type="text" id="name" name="name">
            <select name="state" id="state">
                    <option>Situação</option>
                    {{#state}}
                    <option value={{value}} {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/state}}
                </select>
            <input type="submit" value="Salvar">
        </fieldset>
    </form>

    <h2>Aguardando</h2>
    <hr>
    <ul>
        {{#aguardando}}
            <li>{{name}} <a href="tasks/{{id}}">iniciar</a></li>
        {{/aguardando}}
    </ul>

    <h2>Em Andamento</h2>
    <hr>
        <ul>
        {{#andamento}}
            <li>{{name}} <a href="/tasks/del/{{id}}">concluir</a></li>
        {{/andamento}}
    </ul>

    <h2>Finalizados</h2>
    <hr>
        <ul>
        {{#finalizados}}
            <li>{{name}}</li>
        {{/finalizados}}
    </ul>
</body>
</html>