<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK MANAGER APP</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form action="/tasks" method="post">
        <fieldset>
            <legend>Nova Atividade:</legend>
            <input type="text" id="name" name="name">
            <select name="state" id="state">
                    <option>Situação</option>
                    {{#state}}
                    <option value={{value}} {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/state}}
                </select>
            <input type="submit" value="Salvar">
        </fieldset>
    </form>

    <h2>Aguardando</h2>
    <hr>
    <ul>
        {{#aguardando}}
            <div class="{{priority}}" data-id="{{id}}">
                <li data-id="{{id}}">{{name}}</li><a href="tasks/{{id}}?priority={{priority}}">iniciar</a>
            </div>
        {{/aguardando}}
    </ul>

    <h2>Em Andamento</h2>
    <hr>
        <ul>
        {{#andamento}}
            <div class="{{priority}}" data-id="{{id}}">
                <li data-id="{{id}}">{{name}}</li><a href="/tasks/del/{{id}}?priority={{priority}}">concluir</a>
            </div>
        {{/andamento}}
    </ul>

    <h2>Finalizados</h2>
    <hr>
        <ul>
        {{#finalizados}}
            <div class="{{priority}}">
                <li class="finalizado">{{name}}</li>
            </div>
        {{/finalizados}}
    </ul>

    <script src="js/priority.js" type="module"></script>
</body>
</html>