* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

fieldset {
    color: #3D4DF6;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    border: 4px solid #0000E9;
    background-color: #ADD8E6;
    border-radius: 5px;
}

legend {
    padding: 5px 10px;
    border: 4px solid #0000E9;
    background-color: #ADD8E6;
    border-radius: 10px;
}

input {
    padding: 2px;
    height: 100%;
}

select {
    padding: 2px;
}

h2 {
    margin-top: 15px;
}

ul div {
    display: flex;
    width: 50%;
    margin: 10px 0 0 2rem;
    padding: 3px;
    justify-content: space-between;
}

li {
    list-style-type: none;
    width: 95%;
}

.finalizado {
    text-decoration: line-through;
    width: 100%;
}

.alto {
    background-color: #CD5C5C;
}

.medio {
    background-color: #FEFFBE;
}

.baixo {
    background-color: #90EE90;
}